**/.DS_Store
**/__pycache__
**/.venv
**/.classpath
**/.coverage
**/.dockerignore
**/.env
**/.git
**/.github
**/.gitignore
**/.pre-commit-config.yaml
**/.project
**/.pytest_cache
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/htmlcov
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/tests
**/values.dev.yaml
CHANGELOG.md
CITATION.cff
CODE_OF_CONDUCT.md
