name: Semantic Release

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    
    permissions:
      contents: write

    steps:
    - name: Setup | Checkout Repository on Release Branch
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Action | Semantic Version Release
      id: release
      uses: python-semantic-release/python-semantic-release@v10.4.1
      with:
        github_token: ${{ secrets.GH_TOKEN }}